html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 2px 5px;
}

a:before {
    content: "";
}

a:after {
    content: "";
}

a:hover {
    color: #eee;
    text-decoration: none;
    background-color: gray;
}
